In [1]:
print("shailey")

shailey

In [1]:
print('Name is : {:15s}'.format('Bhupen SKKKKKKKKKKKKKKKKK'))

Name is : Bhupen SKKKKKKKKKKKKKKKKK

In [2]:
print("my name is {}, my job is {}" .format('xyz', 'nothing')) #place holder {}

my name is xyz, my job is nothing

In [12]:
print('my name : {:s}' .format("bhupendra abcdefghijklmnopqrstuvwxyz"))

my name : bhupendra abcdefghijklmnopqrstuvwxyz

#### 10 means space between carlos and float

In [13]:
print('my name is {} {:10.2f}' .format('carlos', 1111.6789))

my name is carlos    1111.68

In [14]:
print('my name is {} {:.2f}' .format('carlos', 1111.6789))

my name is carlos 1111.68

In [16]:
print('my name is {} {:.3f}' .format('carlos', 1111.6789))

my name is carlos 1111.679

In [17]:
print('my name is {} {:.1f}' .format('carlos', 1111.6789))

my name is carlos 1111.7

In [21]:
print('my name is {} {:16.2f}' .format('carlos', 1111.6789))#place holder{}

my name is carlos          1111.68

In [23]:
import sys

In [24]:
print(sys.version , 'dd')

3.9.7 (default, Sep 16 2021, 16:59:28) [MSC v.1916 64 bit (AMD64)] dd

In [25]:
import scipy

In [26]:
print('scipy: {}'.format(scipy.__version__))

scipy: 1.7.1

In [31]:
import numpy  as np # huge numeric data processing, C++
import pandas as pd # C++ , another layer which is on top of python
import matplotlib

In [32]:
print('numpy: {}'.format(np.__version__))
print('pandas: {}'.format(pd.__version__))
print('matplotlib: {}'.format(matplotlib.__version__))

numpy: 1.20.3
pandas: 1.3.4
matplotlib: 3.4.3

#### What is a function in Python?

- In Python, a function is a ***group of related statements*** that performs a specific task.

- Functions help break our program into *smaller and modular* chunks. 

- As our program grows larger and larger, functions make it more 'organized' and 'manageable'.

- Furthermore, it **avoids repetition** and makes the code 'reusable'.

In [3]:
def function_name(parameters):
    """This function does nothing. But it is entirely true ... please wait"""
    statement(s)

In [ ]:
def abc():
    pass

In [21]:
def greet(name):
    """
    I WANT A JOB ."""
    
    print("Hello," ,name,".Good Morning!")

In [18]:
greet('SHALINI TAHANGURIYA')

Hello, SHALINI TAHANGURIYA .Good Morning!

In [19]:
print(function_name.__doc__)

This function does nothing. But it is entirely true ... please wait

In [22]:
print(greet.__doc__)

    I WANT A JOB .

In [24]:
# Example of return

def absolute_value(num):
    """This function returns the absolute
    value of the entered number"""

    if num >= 0:
        return num
    else:
        return -num

In [30]:
 absolute_value(99)

99

In [31]:
 absolute_value.__doc__

'This function returns the absolute\n    value of the entered number'

#### Scope and Lifetime of variables
- *Scope* of a variable is the portion of a program where the variable is recognized. 
- Parameters and variables defined inside a function are `not visible` from `outside the function`. 
    - Hence, they have a **local** scope.

- The `lifetime` of a variable is the period throughout which the variable exists in the memory. The lifetime of variables inside a function is as long as the function executes.
- They are **destroyed** once we **return** from the function. 

- Hence, a function does not remember the value of a variable from its previous calls.

Here is an example to illustrate the scope of a variable inside a function.

In [9]:
def my_func():
    my_var = 10
    print("Value inside function:", my_var)

In [10]:
my_var = 20

my_func()   # value of my_var changes inside the function

print("Value outside function:", my_var)

Value inside function: 10
Value outside function: 20

##### the other side of it ... global variables

In [16]:
def my_func():
    
    my_var = 10
    
    print("Value inside function:", my_var)
    print("Variable from outside the function:", another_var)

In [18]:
my_var      = 20
another_var = 200

my_func()   # value of my_var changes inside the function

print("Value outside function:", my_var)

Value inside function: 10
Variable from outside the function: 200
Value outside function: 20

In [23]:
def my_func():
    
    my_var = 10
    global another_var  # u have to mentioned global if u do /n  any cal. in global variables.
    another_var = another_var +3
    
    print("Value inside function:", my_var)
    print("Variable from outside the function:", another_var)

In [24]:
my_var      = 20
another_var = 200

my_func()   # value of my_var changes inside the function

print("Value outside function:", my_var)

Value inside function: 10
Variable from outside the function: 203
Value outside function: 20

In [32]:
def hello():
    print("Hello World")
    return 10
def hello_noreturn():
    print("Hello World")

In [28]:
hello() * 3

Hello World

30

In [33]:
hello_noreturn() * 2

Hello World

TypeError: unsupported operand type(s) for *: 'NoneType' and 'int'

#### return multiple values
- To do this, you make use of tuples.

In [35]:
# Define `plus()`
def oper(a, b):
    summ  = a + b
    mult  = a * b
    
    return (summ, mult)

In [36]:
oper(3,4)

(7, 12)

In [43]:
# Define `plus()`
def oper(a, b):
    summ  = a + b
    mult  = a * b
    global my_var
    my_var = my_var +10
    return (my_var,summ, mult)

In [44]:
my_var =10
oper(3,4)

(20, 7, 12)

In [12]:
def oper(a, b):
    summ  = a + b
    mult  = a * b
    
    return (summ, mult)

In [13]:
oper(3,4)

(7, 12)

In [14]:
def oper(a, b):
    summ  = a + b
    mult  = a * b
    
    return (my_code,summ, mult)

In [16]:
my_code = 8
oper(3,4)

(8, 7, 12)

In [17]:
def oper(a, b):
    summ  = a + b
    mult  = a * b
    my_code =10
    return (my_code,summ, mult)

In [18]:
my_code = 8
oper(3,4)

(10, 7, 12)

In [19]:
def oper(a, b):
    summ  = a + b
    mult  = a * b
    my_code =10
    my_code = my_code+3
    return (my_code,summ, mult)

In [20]:
my_code=8
oper(3,4)

(13, 7, 12)

In [23]:
def oper(a, b):
    summ  = a + b
    mult  = a * b
    my_code = my_code+3    #Error will come in this see all above eg.
    return (my_code,summ, mult)

In [22]:
my_code=8
oper(3,4)

UnboundLocalError: local variable 'my_code' referenced before assignment

In [26]:
def oper(a, b):
    summ  = a + b
    mult  = a * b
    global my_code
    my_code = my_code+2   #" my_code +=2" Error will resolved here,after introducing "global". 
    return (my_code,summ, mult)

In [27]:
my_code =8
oper(3,4)

(10, 7, 12)

In [3]:
def oper(a, b):
    summ  = a + b
    mult  = a * b   #next
    
    return (summ,mult)

In [4]:
first_ret_val, second_ret_val= oper(5,17)

In [5]:
first_ret_val, second_ret_val

(22, 85)

In [6]:
first_ret_val

22

In [7]:
second_ret_val

85

# Arguments
- Default argument

In [9]:
def plus(a, b = 2):
    return a + b

In [10]:
plus(2, b=10)

12

In [11]:
plus(10)

12

In [12]:
plus(1,5)

6

In [13]:
plus(a=3)

5

In [14]:
plus(b=5) # error here overwritiing the values.

TypeError: plus() missing 1 required positional argument: 'a'

In [15]:
plus(a=3,b=4)

7

## Required arguments

In [ ]:
def plus(a, b):
    return a + b

In [16]:
plus(10, 20)

30

In [18]:
def plus(a, b):
    return a + b

In [19]:
plus() # error value have to be in there

TypeError: plus() missing 2 required positional arguments: 'a' and 'b'

### Variable no. of Arguments

- In cases where you don’t know the exact number of arguments that you want to pass to a function, you can use the following syntax with `*args`

In [28]:
def my_sum(*integers):
    result = 0
    
    print(integers)
        
    return result

In [29]:
print(my_sum(1 ,2 ,3 ,6 ,9))

(1, 2, 3, 6, 9)
0

In [30]:
def my_sum(*integers):
    result = 0
    print(integers)
    print(type(integers))
    return result

In [31]:
print(my_sum(1 ,2 ,3 ,6 ,9))

(1, 2, 3, 6, 9)
<class 'tuple'>
0

In [32]:
def my_sum(*integers):
    result = 0        # want to commenting all sentence in shot crtl+\forwrd slash  
    
    print(integers)
    print(type(integers))
    return result

In [34]:
def my_sum(*list_integers):
    result = 0  
    
    for each_val_passed in list_integers:
        result = result + each_val_passed
       # result+= each_val_passed
    return result

In [35]:
print(my_sum(1, 2, 3, 6, 9))

21

# END